.regist-family-back {
    height: 100vh;
    background-image: url('img/familyfilmbackground.png');
}

.regist-family-wrap {
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    margin: 0 auto;
}

.regist-family-box {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.regist-family-left {
    text-align: center;
    float: left;
    width: 50%;
    height: 100%;
    padding: 0 20px;
}

.regist-family-right {
    float: right;
    width: 50%;
    height: 100%;
    padding-top: 30px;
}

.regist-family-logo {
    margin-top: 100px;
    width: 300px;
}

.regist-family-title {
    color: #FFB29D;
    font-size: 25px;
    font-weight: bold;
}

.family-input-box,
.regist-family-button-box {
    margin: 0 20px;
}

.family-input,
.regist-family-button {
    width: 100%;
    height: 35px;
    font-size: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}

.regist-family-button {
    background-color: #FFB29D;
    color: white;
    font-weight: bold;
}